@charset "UTF-8";

@font-face {
    font-family: droid;
    src: url(fontes/idroid.otf) format(opentype);
}

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{/* Variaveis*/
    --color1: #c5ebd6;
    --color2: #83e1ad;
    --color3: #3ddc84;
    --color4: #299058;
    --color5: #1a5c37;
    --color6: #063d1e;

    --font-padrão: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: "Work Sans", serif;
    --font-droid: "droid", "Abril Fatface";
}
*{
    margin-top: 0px;
    margin-bottom: 0px;
}
body{
    background-color: var(--color1);
    font-family: var(--font-padrão);
    margin: 0px;
    text-align: justify;
}
header > h1{
    font-family: var(--font-destaque);
    color: white;
    font-size: 40px;
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
header{
    background-image: linear-gradient(to bottom, var(--color3), var(--color5));
    height: 70px;
    padding-top: 5px;
}
nav{
    display: block;
    background-color: var(--color5);
    padding-bottom: 8px;
    padding-top: 10px;
}

nav > a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 16px;
    padding: 8px;
}

nav a:hover{
    background-color: var(--color6);
    color: rgb(176, 175, 175);
    transition-duration: .5s;
}

img{
    width: 100%;
    display: block;
    margin: auto;
}
main{
    background-color: white;
    margin: auto;
    border-radius: 0px 0px 10px  10px;
    padding: 30px;
    max-width: 800px;
    min-width: 300px;
}
main h1,h2{
    background-image: linear-gradient(to right, var(--color2), transparent);
}
main p{
    margin: 10px 8px;
    text-indent: 10px;
}
main a{
    text-decoration: none;
    color: var(--color6);
    background-color: var(--color3);
}
main strong{
    color: var(--color4);
}
img.pequena{
    display: block;
    width: 300px;
    margin: auto;
}

article > h1,h2{
    font-family: var(--font-droid);
    color: var(--color4);
    text-indent: 10px
}

.video{
    background-color: var(--color6);
    margin-bottom: 30px;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: var(--color2);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

aside h3{
    background-color: rgb(143, 139, 139);
    padding: 10px;
    text-indent: 10px;
    border-radius: 10px;
}
aside ul{
    list-style-position: inside;
    columns: 2;
    width: 431px;
}

footer{
    text-align: center;
    background-color: var(--color4);
    color: black;
    margin-top: 20px;
}
footer a{
    text-decoration: none;
    font-weight: bold;
    color: var(--color3);
}